{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block page_title %}Dashboard Hearthstone{% endblock %}
{% block page_subtitle %}Récapitulatif contenu hearthstone{% endblock %}
{%  block logo_large %}
    <strong>HEARTHSTONE</strong>
{% endblock %}
{% block sidebar_nav %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="#"><i class="fa  fa-sitemap"></i> <span>DASHBOARD</span></a></li>
        <li class="treeview menu-close">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>EXTENSIONS</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                {% for  set in sets %}
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> {{ set.name|e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="treeview menu-close">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>CLASSES</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                {% for  class in classes %}
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> {{ class.name|e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        </ul>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'color' : 'aqua',
            'icon'  : 'fas fa-comments',
            } %}
                {% block box_text %}Nombre de cartes{% endblock %}
                {% block box_number %}5 432{% endblock %}
                {% block progress_description %}Ensemble des cartes du jeu Hearthston{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'color' : 'green',
            'icon'  : 'fas fa-cog',
            } %}
                {% block box_text %}Nombre de cartes{% endblock %}
                {% block box_number %}5 432{% endblock %}
                {% block progress_description %}Ensemble des cartes du jeu Hearthston{% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}