{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block page_title %}Liste des extensions{% endblock %}
{% block page_subtitle %}Lise de toutes les extensions de Hearthstone{% endblock %}
{%  block logo_large %}
    <strong>HEARTHSTONE</strong>
{% endblock %}
{% block sidebar_nav %}
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview menu-close">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>EXTENSIONS</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                {% for  set in sets %}
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> {{ set.name|e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="treeview menu-close">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>CLASSES</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                {% for  class in classes %}
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> {{ class.name|e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        </ul>
{% endblock %}
{% block page_content %}
    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">
    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">

    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt=""><img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">
    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">

    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt=""><img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">
    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">

    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt=""><img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">
    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">

    <img src="http://wow.zamimg.com/images/hearthstone/cards/frfr/original/PART_005.png" alt="">

{% endblock %}